#code/gfm_vs_pmi_genescore.R
#code/plotHDendrograms.R
#pics/AHR_dend.pdf
#pics/RA_dend.pdf
#pics/ai_cogs.pdf
#pics/block_shifter_scatter.pdf
#pics/gfm_vs_pmi_gs.pdf
pics/hallmark_enrichment.ai
#pics/hallmark_enrichment.pdf
#pics/hyper_reactome_analysis_2.pdf
#pics/il2ra_ase.pdf
#pics/il2ra_ase_region.pdf
#pics/il2ra_ase_tc.pdf
#pics/tcell_blockshifter_scatter.pdf
words/first_year_report.aux
words/first_year_report.bbl
#words/first_year_report.bib
words/first_year_report.bib.bak
words/first_year_report.blg
words/first_year_report.dvi
words/first_year_report.log
words/first_year_report.out
#words/first_year_report.pdf
words/first_year_report.synctex.gz
words/first_year_report.tex.bak
words/first_year_report.toc
words/first_year_report_jabref.bak
words/genomeresearch.bst
words/gwas_meta_table.aux
words/pchic_interaction_count_table.aux
words/plos2009.bst
words/.$first_year_report.bib$
words/_region_.log
words/_region_.prv/
words/_region_.tex
words/auto/
words/ibd_gene_list.aux
